<div dir="rtl" class="container-fluid p-0">
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: #000"
  >
    <div class="container p-4">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <h3 style="color: #1dbf73" class="text-uppercase mb-4 fw-bold">
            شغلانة
          </h3>
          <p>
            أنجز أعمالك عبر الإنترنت بسهولة وأمان على يد نخبة من أفضل المستقلين
            في الوطن العربي.
          </p>
        </div>

        <!-- Column 2 -->
        <div class="col-6 col-lg-3 mb-4 mb-lg-0">
          <h6 class="text-uppercase mb-4 fw-bold">المساعدة والدعم</h6>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white text-decoration-none"
                >مركز المساعدة</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >الأسئلة الشائعة</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >بنك الأسئلة</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none">تواصل معنا</a>
            </li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase mb-4 fw-bold">الأسئلة الشائعة</h6>
          <p><i class="fa fa-home me-2"></i> كيف أبيع أول خدمة على المنصة؟</p>
          <p>
            <i class="fa fa-phone me-2"></i> لماذا منصة شغلانة هي الخيار الأمثل
            للمستقلين؟
          </p>
          <p>
            <i class="fa fa-print me-2"></i> الخدمات الأكثر طلبًا على المنصة.
          </p>
        </div>
      </div>
    </div>

    <!-- Social Links -->
    <div class="text-center py-3 border-top border-secondary">
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fa fa-facebook-f"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fa fa-twitter"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fa fa-google"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fa fa-instagram"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fa fa-github"></i
      ></a>
    </div>

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(54, 49, 49, 0.2)"
    >
      © 2025 جميع الحقوق محفوظة:
      <a class="text-white text-decoration-none" href="https://Shoglana.com/"
        >Shoglana.com</a
      >
    </div>
  </footer>
</div>
